.box-provedores {
  display: flex;
}

.barralateral {
  width: 16%;
  display: flex;
  flex-direction: column;
}

#soldadore,
#carmelo,
#maxi,
#pintura,
#niquelado,
#afilador {
  justify-items: center;
  background-color: rgb(48, 48, 48);
  margin: 5px;
  display: grid;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  height: 90px;
  color: white;
  text-align: center;
  align-items: center;
}

.boxBtnStock{
  justify-content: center;
  width: 400px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  border-top: solid rgb(82, 82, 82) 1px;
}
.container-enviosSoldador{
  border-bottom: solid red 1px;
  margin: 15px;
  align-items: center;
  padding: 5px;
  padding-bottom: 10px;
}
.botonesPiezas{
  background-color: rgb(53, 112, 221);
  width: 100px;
  height:50px;
  gap: px
}

#tituloProvedoresTabla{
  text-align: start;
  font-size: 25px;
  font-weight: 700;
  margin-left: 60px;

}
.historial-contenedor {
  display: flex;
  flex-direction: column; /* Apila los bloques uno abajo del otro */
  gap: 20px;
  margin-top: 10px;
}

.columna-envios,
.columna-entregas {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.columna-envios ul,
.columna-entregas ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.columna-envios li,
.columna-entregas li {
  padding: 5px 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.columna-envios li:last-child,
.columna-entregas li:last-child {
  border-bottom: none;
}
