<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Ordenado</title>

</head>
<body>

<div class="container">
    <div class="row">
        <label for="">Enviar a soldador</label>
       <select>
            <option value="opcion1">Opción 1</option>
            <option value="opcion2">Opción 2</option>
            <option value="opcion3">Opción 3</option>
        </select>
    </div>
    <div class="row">
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" placeholder="Ingrese cantidad">
    </div>
    <div class="button-container">
        <button>Enviar</button>
    </div>
</div>

</body>
</html>
