<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Provedores</title>
</head>

<body>
    <div class="box-provedores">
        <div class="barralateral">
            <button id="soldadore" onclick="mostrarContenido('Soldador')">
                Soldador
            </button>
            <button id="carmelo" onclick="mostrarContenido('Carmelo')">
                Carmelo
            </button>
            <button id="maxi" onclick="mostrarContenido('Maxi')">
                Maxi
            </button>
            <button id="pintura" onclick="mostrarContenido('Pintura')">
                Pintura
            </button>
            <button id="niquelado" onclick="mostrarContenido('Niquelado')">
                Niquelado
            </button>
            <button id="afilador" onclick="mostrarContenido('Afilador')">
                Afilador
            </button>
        </div>
        <div id="contenedorprovedores">

            <div class="tabla-soldador" id="tablasoldador">
            </div>
            
            <div class="tabla-carmelo">

            </div>
            <div class="tabla-maxi">

            </div>
            <div class="tabla-pintor">

            </div>
            <div class="tabla-niquelado">

            </div>
            <div class="tabla-afilador">

            </div>
        </div>



    </div>
    </div>
</body>

</html>